<% if logged_in?%>
  <div class="nav">
  <img src="https://i.imgur.com/1eT9WvY.png" alt="" id="logo">
  <ul id="item">
    <li><a href="/quotes/home">profile</a></li>
    
    <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="delete"> 
        <button>Logout</button>
      </form>
  </ul>
  </div>

  <div class="back">
    <div></div>
  </div>

  <div class="mid">
    <img src="https://i.imgur.com/LnVAmI0.png" alt="" class="logo">
    <h1 class="main">IN LIGHT Home Maintenance</h1>
    <p>Achieving your goals</p>
    <div class="btn">
      <a class="simple" href="#">Enquire</a>
      <a class="border" href="#">Learn More</a>
    </div>
  </div>

  <div class="details">
    <div class="one">
      <h3>Who we are</h3>
      <h6>Your local South Aussie handyman.</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, molestias voluptatum quia accusantium rerum ad maxime ut sequi soluta, error a architecto sed exercitationem? Eveniet quod illum dolore sed laborum.</p>
      <a href="#">Get a quote</a>
    </div>

    <div class="two">
      <h3>Contact hours</h3>
      <h5>Sunday: Closed</h5>
      <h5>Monday - Friday</h5>
      <p>9:00am - 6:00pm</p>
    </div>
  </div>
<% else %>

<div class="nav">
  <img src="https://i.imgur.com/1eT9WvY.png" alt="" id="logo">
  <ul id="item">
    <li><a href="/sessions/new">Login</a></li>
    <li><a href="/users/new">Sign up</a></li>
  </ul>
</div>

<div class="back">
  <div></div>
</div>

<div class="mid">
  <img src="https://i.imgur.com/LnVAmI0.png" alt="" class="logo">
  <h1 class="main">IN LIGHT Home Maintenance</h1>
  <p>Achieving your goals</p>
  <div class="btn">
    <a class="simple" href="#">Enquire</a>
    <a class="border" href="#">Learn More</a>
  </div>
</div>

<div class="details">
  <div class="one">
    <h3>Who we are</h3>
    <h6>Your local South Aussie handyman.</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, molestias voluptatum quia accusantium rerum ad maxime ut sequi soluta, error a architecto sed exercitationem? Eveniet quod illum dolore sed laborum.</p>
    <a href="#">Get a quote</a>
  </div>

  <div class="two">
    <h3>Contact hours</h3>
    <h5>Sunday: Closed</h5>
    <h5>Monday - Friday</h5>
    <p>9:00am - 6:00pm</p>
  </div>
</div>
<% end %>