html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    margin: auto;
    justify-content: center;
    background-color: #fff;
    background-size: cover;
    background-attachment: fixed;
    /* color: white; */
    font-family: 'Roboto';
    color: black;
}

header {
    display: grid;
    margin: auto;
    margin-top: 20%;
    justify-content: center;
    color: white;
}

#logo {
    max-width: 150px;
}

.logo {
    max-width: 60%;
    margin: auto;
}

.main {
    /* font-family: 'Roboto'; */
    /* color: #0174b7; */
    text-align: center  ;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 1rem 6.5rem;
    background: #222;
    z-index: 100000;
}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#item li {
    list-style: none;
    padding-right: 50px;
}

#item a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: 0.2s;
    text-transform: uppercase;
}

#item a:hover {
    color: #0174b7;
}

.back {
    background-image: url('https://i.imgur.com/dtbOMTt.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.back_login {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

/* .back .overlay {
    background: #5999da;
    width: 100%;
    height: 100%;
    opacity: 0.5;
} */

.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.mid_login {
    color: #0174b7;
}
.mid_login .main {
    font-size: 3rem;
}

.mid p {
    color: #b2b2b2;
    font-size: 1.3rem;
}

.mid .btn {
    margin-top: 3rem;
    gap: 2rem;
}

.mid .btn a{
    text-decoration: none;
    text-transform: uppercase;
}

.mid .btn a.simple {
    color: #fff;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    transition: 0.2s;
}

.mid .btn a.simple:hover {
    color: #0174b7;
}

.mid .btn a.border {
    color: #0174b7;
    border: 1px solid #0174b7;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    border-radius: 3px;
    transition: 0.2s;
}

.mid .btn a.border:hover {
    background: #fff;
    border: 1px solid #fff;
}

.details {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 8rem 10rem;
    background: #171819;
}

.details h3,h6,h5 {
    color: #fff;
}

.details .one {
    width: 45%;
}

.details .one h3{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.details .one h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.details .one p{
    color: #666262;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}

.details .one a{
    color: #fff;
    background: #0174b7;
    padding: 1rem;
    text-decoration: none;
}
    
.details .two {
    width: 45%;
    border-left: 1px solid #fff;
    padding-left: 5%;
}

.details .two p{
    color: #fff;
}

.details_create_enquiry {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 8rem 10rem;
    background: #0174b7;
}

.create_new_enquiry {
    display: grid;
    width: 100%;
}

.create_new_enquiry .field {
    width: 100%;
}

.mid .form {
    display: grid;
    text-align: left;
    width: 300px;
    gap: 1rem;
}

.mid .form .field{
    display: grid;
    text-align: left;
}

.mid .form .field input {
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
}

.mid .form button {
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #0174b7;
    border-radius: 30px;
    background-color: #0174b7;
    transition: 0.2s;
}

.mid .form button:hover {
    cursor: pointer;
    background-color: #478fb9;
}

.mid .create_enquiry {
    margin: auto;
    min-width: 100%;
}

#create_enquiry_title {
    padding-top: 40%;
}

#create_enquiry_mid {
    min-width: 50%;
}

#login_fail {
    color: rgb(158, 37, 37);
}

.attachments {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.sign_up {
    margin-top: 10%;
}

.enquiries {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: baseline; 
    padding: 8rem 10rem;
}

.enquiries .one {
    width: 30%;
}

.enquiries .one .work_order_dir .work_orders_list {
    text-decoration: none;
    color: #0174b7;
    font-family: 'Roboto';
}

.enquiries .one .work_order_dir .work_orders_list:hover {
    color: #478fb9;
}

.enquiries .one .work_order_dir li {
    list-style: none;
}

.enquiries .two {
    width: 60%;
    border-left: 1px solid black;
    padding-left: 10%;
}

.enquiries .two h1{
    padding: 30px 0px;
}

.controls {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.controls a {
    text-decoration: none;
    color: #0174b7;
    background: none;
    border: #222;
}

.controls button {
    padding: 0.5rem;
    color: #fff;
    background-color: #0174b7;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.work_order_preview {
    padding-bottom: 10%;
}
.nav button {
    padding: 1rem;
    color: #fff;
    background-color: #0174b7;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}









