html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    margin: auto;
    justify-content: center;
    background-color: #fff;
    background-size: cover;
    background-attachment: fixed;
    /* color: white; */
    font-family: 'Roboto';
    color: black;
}

header {
    display: grid;
    margin: auto;
    margin-top: 20%;
    justify-content: center;
    color: white;
}

#logo {
    max-width: 150px;
}

.logo {
    max-width: 60%;
    margin: auto;
}

.main {
    /* font-family: 'Roboto'; */
    /* color: #0174b7; */
    text-align: center  ;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 1rem 6.5rem;
    background: #222;
    z-index: 100000;
}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#item li {
    list-style: none;
    padding-right: 50px;
}

#item a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: 0.2s;
    text-transform: uppercase;
}

#item a:hover {
    color: #0174b7;
}

.back {
    background-image: url('https://i.imgur.com/dtbOMTt.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
}

/* .back .overlay {
    background: #171819;
    width: 100%;
    height: 100%;
} */

.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.mid p {
    color: #b2b2b2;
    font-size: 1.3rem;
}

.mid .btn {
    margin-top: 3rem;
    gap: 2rem;
}

.mid .btn a{
    text-decoration: none;
    text-transform: uppercase;
}

.mid .btn a.simple {
    color: #fff;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    transition: 0.2s;
}

.mid .btn a.simple:hover {
    color: #0174b7;
}

.mid .btn a.border {
    color: #0174b7;
    border: 1px solid #0174b7;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    border-radius: 3px;
    transition: 0.2s;
}

.mid .btn a.border:hover {
    background: #fff;
    border: 1px solid #fff;
}

.details {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 8rem 10rem;
    background: #171819;
}

.details h3,h6,h5 {
    color: #fff;
}

.details .one {
    width: 45%;
}

.details .one h3{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.details .one h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.details .one p{
    color: #666262;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}
    

.details .two {
    width: 45%;
}







