<h1>Add food</h1>
<form action="/foods" method="POST">
    <label for="">name: </label>
    <input type="text" name="name">

    <label for="">Image URL: </label>
    <input type="text" name="image_url">

    <button>Add food</button>
</form>