<h1>Enquire about your home maintenance need</h1>
<form action="/work_orders" method="POST">
    <label for="">Name: </label>
    <input type="text" name="name">

    <label for="">Description: </label>
    <input type="text" name="description">

    <label for="">Image URL: </label>
    <input type="text" name="image_url">

    <button>Enquire Job</button>
</form>